$blueColor: #FFFFFF;
$font: sans-serif;
$fontSize: 16px;
$red: #FF0000;

.page {
	font-family: $font;
	font-size: $fontSize;
	margin: 20px auto;
}

.required {
	border-color: $red;
}

.all-users-table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 100%;
	th {
		background: linear-gradient(#777, #444);
		border-left: 1px solid #555;
		border-right: 1px solid #777;
		border-top: 1px solid #555;
		border-bottom: 1px solid #333;
		box-shadow: inset 0 1px 0 #999;
		color: #fff;
		font-weight: bold;
		padding: 10px 15px;
		text-shadow: 0 1px 0 #000;
	}
	th:after {
		background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .08));
		content: '';
		display: block;
		height: 25%;
		left: 0;
		margin: 1px 0 0 0;
		top: 25%;
		width: 100%;
	}	
	td {
		border-right: 1px solid #fff;
		border-left: 1px solid #e8e8e8;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #e8e8e8;
		padding: 10px 15px;
	}
	tr {
		background-color: #FFFFFF;
	}
}

input[type=text],
select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	display: inline-block;
	margin: auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	position: relative;
	transition: all 5s ease-in-out;
	max-height: calc(100vh - 110px);
	width: 60%;
	overflow-y: auto;
	h2 {
		margin-top: 0;
		color: #333;
		font-family: Tahoma, Arial, sans-serif;
	}
	.close {
		position: absolute;
		top: 20px;
		right: 30px;
		transition: all 200ms;
		font-size: 30px;
		font-weight: bold;
		text-decoration: none;
		color: #333;
		cursor: pointer;
	}
	.close:hover {
		color: #06D85F;
	}
	.content {
		overflow: auto;
	}
}

@media screen and (max-width: 700px) {
	.box {
		width: 70%;
	}
	.popup {
		width: 70%;
	}
}

.container {
	display: flex;
}

button:hover {
	background-color: rgba(255, 255, 255, 0);
	color: #000;
	cursor: pointer;
}

.page {
	width: 80%;
	margin: 20px auto;
}

.form-control {
	width: 80%;
}

.errorUl li {
	color: $red;
}

.open {
	margin-right: 10px;
}